/* Reset CSS */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Styling Header */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Styling Navigation */
nav {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Styling Main Content */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

article {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
}

/* Styling Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Gaya awal elemen yang akan diubah tampilannya */
.hidden {
    display: none;
}


/* CSS untuk iframe */
iframe {
  display: block;
  margin: 0 auto; /* Ini akan memposisikan iframe di tengah secara horizontal */
}

/* Atur lebar dan tinggi iframe sesuai kebutuhan Anda */
iframe {
  width: 300px;
  height: 140px;
}

/* CSS untuk mengubah tampilan tautan */
.judul a {
  text-decoration: none; /* Menghilangkan garis bawah */
  color: white; /* Mengganti warna teks menjadi hitam (atau sesuai keinginan Anda) */
}

