/* Reset CSS */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Styling Header */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Styling Navigation */
nav {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Styling Main Content */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

article {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
}

/* Styling Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Gaya awal elemen yang akan diubah tampilannya */
.hidden {
    display: none;
}


/* CSS untuk iframe */
iframe {
  display: block;
  margin: 0 auto; /* Ini akan memposisikan iframe di tengah secara horizontal */
}

/* Atur lebar dan tinggi iframe sesuai kebutuhan Anda */
iframe {
  width: 300px;
  height: 140px;
}

/* CSS untuk mengubah tampilan tautan */
.judul a {
  text-decoration: none; /* Menghilangkan garis bawah */
  color: white; /* Mengganti warna teks menjadi hitam (atau sesuai keinginan Anda) */
  text-align: center;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

#quiz-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: inline-block;
    text-align: left;
    margin: 20px auto;
}

#submit-container {
    margin-top: 20px;
}

#submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#score-container {
    font-size: 18px;
    margin-top: 10px;
}

.rata-kanankiri {
    text-align: justify;
    text-indent: 30px;
    font-family: "Times New Roman", Times, serif;
    font-size: 17px;
}

.kategori {
    text-align: left;
}

.visimisi {
    text-align: left;
}

.hubungikami {
    text-align: left;
}

h1 {
    font-family: "Arial", Times, serif;
}

.clock {
    position: fixed;
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: white;
}

.time {
    font-size: 36px;
    font-weight: bold;
}

/* Responsif untuk handphone */
@media (max-width: 768px) {
    .clock {
        top: 10px;
        right: 10px;
        padding: 5px;
    }

    .time {
        font-size: 14px;
    }
    .beranda ul li a {
        font-size: 14px; /* Ubah ukuran font sesuai kebutuhan */
    }
}
